<div class="home">
    <div class="buttonContainer">
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Task</button>
        <app-filter-box (filterEmitter)="setFilter($event)"  (creationDateFilterEmitter)="dateCreationFilter($event)" (deadlineDateFilterEmitter)="dateDeadlineFilter($event)">
        </app-filter-box>
    </div>
    <div class="table-responsive" id="no-more-tables">
        <table class="table table-striped table-bordered table-hover">
            <thead class=" table-dark">
            <tr>
                <th scope="col">Task Title</th>
                <th scope="col">Task Description</th>
                <th scope="col">Task Priority</th>
                <th scope="col">Task Status</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Deadline</th>
                <th scope="col">Assignee User</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks">
                <td data-title="Task Title">{{task.taskTitle}}</td>
                <td data-title="Task Description">{{task.taskDescription}}</td>
                <td data-title="Task Priority">{{task.taskPriority}}</td>
                <td data-title="Task Status">{{task.taskStatus}}</td>
                <td data-title="Created Date">{{toDate(task.taskCreatedDate)}}</td>
                <td data-title="Deadline">{{toDate(task.taskDeadline)}}</td>
                <td data-title="Assignee User">{{task.assignee}}</td>
                <td data-title="">
                    <button type="button" class="btn btn-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </button>
                    <button (click)="deleteTask(task.taskId)" type="button" class="btn btn-danger" style="margin-left: 5px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 1.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v1H6v-1Zm5 0v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5ZM4.5 5.029a.5.5 0 1 1 .998-.06l.5 8.5a.5.5 0 0 1-.998.06l-.5-8.5Zm6.53-.528a.5.5 0 0 1 .47.528l-.5 8.5a.5.5 0 1 1-.998-.058l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Adding a task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="addTaskTitle" placeholder="Title">
                <label for="floatingInput">Title</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="addTaskDesc" rows="3" style="height: 150px;"></textarea>
                <label for="floatingInput">Desc</label>
            </div>
            <div class="form-floating mb-3">
                <select id="addTaskPriority" class="form-select">
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                </select>
                <label for="floatingInput">Task Priority</label>
            </div>
            <div class="form-floating mb-3">
                <input id="addTaskDeadline" type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
                <label for="floatingInput">Deadline</label>
            </div>
            <div class="form-floating mb-3">
                <input id="addTaskAssignee" [(ngModel)]="selected" [typeahead]="usernames" [isAnimated]="true" class="form-control">
                <label for="floatingInput">Assignee User</label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="createTask()" class="btn btn-success">Add Task</button>
        </div>
      </div>
    </div>
  </div>