<div class="home">
    <div class="buttonContainer">
        <button class="btn btn-success" type="button">Add Task</button>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by
            </button>
            <ul class="dropdown-menu" aria-labelledby="Sort by">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
    </div>
    <div class="table-responsive" id="no-more-tables">
        <table class="table table-striped table-bordered table-hover">
            <thead class=" table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task Title</th>
                <th scope="col">Task Description</th>
                <th scope="col">Task Priority</th>
                <th scope="col">Task Status</th>
                <th scope="col">Created Date</th>
                <th scope="col">Deadline</th>
                <th scope="col">Assignee User</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th data-title="#" scope="row">1</th>
                <td data-title="Task Title">1</td>
                <td data-title="Task Description">Otto</td>
                <td data-title="Task Priority">@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>