<div class="sign-up">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sign Up Form</h5>
            <div class="form-floating mb-3">
                <input #username type="text" class="form-control" id="username" placeholder="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input #password type="password" class="form-control" id="password" placeholder="password">
                <label for="floatingInput">password</label>
            </div>
            <div class="form-floating mb-3">
                <input #confirmPassword type="password" class="form-control" id="confirm-password" placeholder="password">
                <label for="floatingInput">confirm password</label>
            </div>
            <div class="sumbitButton">
                <button (click)="submit()" type="button" class="btn btn-success">submit</button>
            </div>
            <div [ngClass]="{'is-active': errorActive}" [innerHTML]="errorMessage" class='alert alert-danger' role='alert' style='margin-top: 20px;'>
            </div>
        </div>
      </div>  
</div>