<div class="box">
    <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Filter by
        </button>
        <ul class="dropdown-menu" aria-labelledby="Sort by">
        <li><a class="dropdown-item" [ngClass]="{'is-active': filterID=='taskTitle'}" href="#" id="taskTitle" (click)="dropDownClick($event)">Title</a></li>
        <li><a class="dropdown-item" [ngClass]="{'is-active': filterID=='taskDescription'}" href="#" id="taskDescription" (click)="dropDownClick($event)">Description</a></li>
        <li><a class="dropdown-item" [ngClass]="{'is-active': filterID=='taskPriority'}" href="#" id="taskPriority" (click)="dropDownClick($event)">Priority</a></li>
        <li><a class="dropdown-item" [ngClass]="{'is-active': filterID=='taskStatus'}" href="#" id="taskStatus" (click)="dropDownClick($event)">Status</a></li>
        <li><a class="dropdown-item" [ngClass]="{'is-active': filterID=='taskCreatedDate'}" href="#" id="taskCreatedDate" (click)="dropDownClick($event)">Creation Date</a></li>
        <li><a class="dropdown-item" [ngClass]="{'is-active': filterID=='taskDeadline'}" href="#" id="taskDeadline" (click)="dropDownClick($event)">Deadline</a></li>
        <li><a class="dropdown-item" [ngClass]="{'is-active': filterID=='assignee'}" href="#" id="assignee" (click)="dropDownClick($event)">Assignee User</a></li>
        </ul>
        <button (click)="resetFilter()" style="margin-left: 2px;" type="button"  *ngIf="this.filterID!='taskTitle'" class="btn btn-dark">reset filter</button>
    </div>
    <div>
        <input #inputText type="text" class="form-control" (keyup)="inputChange($any($event.target).value)" *ngIf="this.filterID!=='taskPriority' && this.filterID!=='taskStatus' && this.filterID!=='taskCreatedDate' && this.filterID!=='taskStatus' && this.filterID!=='taskDeadline'" placeholder="Filter">
        <select (change)="inputChange($any($event.target).value)" class="form-select" *ngIf="this.filterID==='taskPriority'">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        <select (change)="inputChange($any($event.target).value)" class="form-select" *ngIf="this.filterID==='taskStatus'">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
            <option value="Canceled">Canceled</option>
        </select>
        <mat-form-field mat-form-field appearance="fill" *ngIf="this.filterID==='taskCreatedDate'">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" #dateRangeStart>>
              <input #dateRangeEnd (dateChange)="creationDateFilter(dateRangeStart, dateRangeEnd)" matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field mat-form-field appearance="fill" *ngIf="this.filterID==='taskDeadline'">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" #deadLineRangeStart>>
              <input #deadLineRangeEnd (dateChange)="deadlineFilter(deadLineRangeStart, deadLineRangeEnd)" matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>
</div>