<div class="login">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Login Form</h5>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" placeholder="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="password">
                <label for="floatingInput">password</label>
            </div>
            <div class="sumbitButton">
                <button (onclick)="submit()" type="button" class="btn btn-success">submit</button>
            </div>
        </div>
      </div>  
</div>